[SddmGreeterTheme]
Name=STR
Description=STR — skuwii
Author=skuwii
Version=1.0
Website=
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=
Theme-Id=str-theme
